if command -v exa >/dev/null; then
    alias ls="exa-wrapper.sh"
else
    alias ls="command ls $LS_OPTIONS"
fi

# List directory contents
alias l='ls -lFh'   #size,show type,human readable
alias lsr='ls -tr' # recent modified, reversed
# alias la='ls -lAFh' #long list,show almost all,show type,human readable
# alias lr='ls -tRFh' #sorted by date,recursive,show type,human readable
# alias lt='ls -ltFh' #long list,sorted by date,show type,human readable
# alias ll='ls -l'    #long list
# alias ldot='ls -ld .*'
# alias lS='ls -1FSsh'
# alias lart='ls -1Fcart'
# alias lrt='ls -1Fcrt'
# alias lsr='ls -lARFh' #Recursive list of files and directories
# alias lsn='ls -1'     #A column contains name of files and directories

alias quit='exit'

alias emptydirs='find . -type d -empty -delete'
alias flattendir='find . -mindepth 2 -type f -print -exec mv -nv {} . \;'
alias count='ls | wc -l'
alias path='print -l "$PATH"'
alias pii="comm -23 <(pacman -Qqett | sort) <(pacman -Qqg base -g base-devel | sort | uniq)"

alias cp="cp -iv"
alias mv="mv -iv"
alias rm="rm -v"
alias mkdir="mkdir -pv"

alias tl='tmux list-sessions'
alias tk="tmux kill-session -t tmux list-sessions | fzf | cut -d ':' -f1"
alias td='tmux detach'

alias gsudo='sudo git -c "include.path='"${XDG_CONFIG_DIR:-$HOME/.config}/git/config\" -c \"include.path=$HOME/.gitconfig\""
alias jp="git add . && git commit -m \"$(date)\" && git push"
alias ga="git add"
alias gc="git commit"
alias gp="git push"
alias gs="git status"
alias gd="git diff"

alias md="mkdir"
alias t="touch"
alias x="exit"
alias c="clear"
alias x+="chmod +x"
alias get="curl -O -L"

# XDG Fixes
alias yarn='yarn --use-yarnrc $XDG_CONFIG_HOME/yarn/config'
alias svn="svn --config-dir $XDG_CONFIG_HOME/subversion"

# Replacements
alias cat='bat --paging=never'
alias man='batman'
alias rg='batgrep'
alias ncdu='gdu'
# alias find='fd'
alias fp='fzf --preview "bat --style=numbers --color=always --line-range :500 {}"'
alias du='dust'

alias csv='csvlens'
