.config/micro/backups/
.config/micro/buffers/
.config/micro/plug/
.config/tmux/plugins/
.local/share/tmux/
.config/ranger/plugins/
.config/zsh/.zcompdump*
.config/terminator/plugins/__pycache__
.config/zsh/plugins/
.config/zsh/personal/plugins/
.config/zsh/personal/plugins/
.config/zsh/prompts/pure/
.config/zsh/personal/prompts/pure/
.config/zsh/omz/
.config/emacs/.local/ 
