# ignore all files in the dotfiles directory
.config/*

# whitelisted files/directories

# Shell
!.config/zsh/**
!.config/zsh.bak/**
!.config/bash/**
!.config/mise/**

# Terminal
!.config/ghostty/**
!.config/alacritty/**
!.config/kitty/**
!.config/terminator/**
!.config/wezterm/**

# CLI Tools
!.config/bat/**
!.config/bottom/**
!.config/btop/**
!.config/cava/**
!.config/fastfetch/**
!.config/neofetch/**
!.config/glow/**
!.config/htop/**
!.config/ncspot/**
!.config/ranger/**
!.config/readline/**
!.config/tmux/**

# WM/DE
!.config/X11/**
!.config/xsettingsd/**
!.config/sway/**
!.config/sway.bak/**
!.config/swaync/**
!.config/i3/**
!.config/picom/**
!.config/waybar/**
!.config/polybar/**
!.config/fuzzel/**
!.config/rofi/**
!.config/rofi.bak/**
!.config/sov/**

# GTK
!.config/gtk-2.0/**
!.config/gtk-3.0/**
!.config/gtk-4.0/**

# QT
!.config/qt5ct/**
!.config/qt6ct/**

# Dev
!.config/gitui/**
!.config/helix/**
!.config/kak/**
!.config/lazygit/**
!.config/micro/**
!.config/nano/**
!.config/nvim/**
!.config/nvim.bak/**
!.config/nvim.bak.bak/**
!.config/git/**

# Misc
!.config/zathura/**
!.config/dircolors
!.config/electron-flags.conf
!.config/greenclip.toml
!.config/mimeapps.list
!.config/starship.toml
!.config/Trolltech.conf

!.themes/**

!.assets/**

!.archive/**

!.local/**

!notes/**

!.gitignore

!.stow-local-ignore

!README.md