.config/micro/backups/
.config/micro/buffers/
.config/micro/plug/
.icons/default
.config/tmux/plugins/
walls/
.config/ranger/plugins/
.config/zsh/.zcompdump-arch-5.9
.config/zsh/.zcompdump-arch-5.9.zwc
.config/terminator/plugins/__pycache__
.config/zsh/plugins/
.config/zsh/prompts/pure/
.config/emacs/.local/ 
