[submodule ".local/share/themes/catppuccin/micro"]
	path = .local/share/themes/catppuccin/micro
	url = https://github.com/catppuccin/micro.git
[submodule ".config/zsh/.antidote"]
	path = .config/zsh/.antidote
	url = https://github.com/mattmc3/antidote.git
