configuration {
  show-icons:      true;
  icon-theme:      "Papirus";
  cycle:           true;
  disable-history: false;
  monitor:         "-4";
  modi:            "drun";
  display-drun:    "apps";
}


